<!DOCTYPE HTML>
<html>
<head>
	<title>btt web service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewposrt" content="width=device-width, initial-scale=1" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>	
	<script src ="/js/app/main.js"></script>
</head>
<body>
	<h1> web service </h1>
	<form>
		<input type = "text" id="keyword" placeholder="input keyword">
		<input type = "submit" id="submitKeyword" onclick="main.save()"><br>
	</form>
<body>
</html>
