<!DOCTYPE HTML>
<html>
<head>
	<title> Result Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>Result</h1>
	<p> keyword : {{keyword}} </p>
	
	<a href="/">Submit another message</a>
</body>
</html>
